<!-- {{ nombre }}
<input type="text" placeholder="Nombre: " [(ngModel)]="nombre" />
<button (click)="guardar()">Guardar</button>
<br />
<br />
<app-muestra-nombre [nombre]="nombre"></app-muestra-nombre> -->

<h1>{{ segundos }}</h1>
